html
  head
    link(rel='stylesheet', href="/styles.css")
    script(type="text/javascript", src="http://use.typekit.com/vyv0hin.js")
      try{Typekit.load();}catch(e){}
  body
    #top
      h1 Muck
    #middle
    #bottom
    script(data-main="/main.js", src="/require.js")
