@import "reset"
@import "type"

body
  text-align center
  .inner
    text-align left
    max-width: 768px
    padding: 0 10px
    margin 0 auto
  #top
    background black
    color white
    padding 0 10px
    h1
      text-transform uppercase
      position relative
      top .25em
  #middle
    #new
      float left
      cursor pointer
    a#new_mix
      font-size 1.1em
    #create
      display: none
    .nope
      color: rgba(#000,.4)
    padding 0 10px
    padding-top 10px
    .preview, #pause, #play, #again
      cursor pointer
    .delete
      float right
      color rgba(#000,.3)
      cursor pointer
    .delete_song
      color rgba(#000,.3)
      cursor pointer
    .confirm
      color red
    #songs, #mixes
      clear both
    .details
      display none
    .show
      display block
    // #new
    //   form
    //     padding 0 10px
    //     display none
    //     position relative
    //     input
    //       width 85%
    //       margin-left -10px
    //       border 5px solid black
    //       padding 5px
    //       padding-right 16%
    //       outline none
    //       font-size 1em
    //       font-family $tisa
    //     a#new_mix_cancel, a#new_song_cancel
    //       font-size .8em
    //       line-height 1.25em
    //       color rgba(0,0,0,.3)
    //       position absolute
    //       right 5px
    //       bottom 5px
    //       cursor pointer
    //   a
    //     margin 29px 0 16px 0
    //     display block
    //     padding 0 10px
    //     color #FF0A6C
    //     text-decoration none
    //     &hover
    //       text-decoration underline
  #yt
    display none
