html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "ff-tisa-web-pro", serif;
  font-size: 16px;
}
h1 {
  font-family: "freight-sans-pro", sans-serif;
  font-size: 51.776px;
  line-height: 50px;
}
h2 {
  font-size: 51.776px;
  line-height: 75px;
}
h3 {
  font-size: 25.888px;
  line-height: 50px;
}
p {
  line-height: 25px;
  margin: 12.5px 0 13.5px 0;
}
body {
  text-align: center;
}
body .inner {
  text-align: left;
  max-width: 768px;
  margin: 0 auto;
}
body #top {
  background: #000;
  color: #fff;
  padding: 0 10px;
}
body #top h1 {
  text-transform: uppercase;
  position: relative;
  top: 0.25em;
}
body #middle {
  padding: 0 10px;
  padding-top: 10px;
}
body #middle #new {
  cursor: pointer;
}
body #middle a#new_mix {
  font-size: 1.1em;
}
body #middle .delete {
  color: rgba(0,0,0,0.3);
  cursor: pointer;
}
body #middle .confirm {
  color: #f00;
}
body #middle #mixes,
body #middle #songs {
  padding: 10px 0;
}
body #middle #mixes .preview,
body #middle #songs .preview,
body #middle #mixes .song,
body #middle #songs .song {
  padding: 10px;
}
body #middle #mixes .preview + .preview,
body #middle #songs .preview + .preview,
body #middle #mixes .song + .song,
body #middle #songs .song + .song {
  border-top: 1px solid rgba(0,0,0,0.1);
}
body #yt {
  display: none;
}
